@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./marvelbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}

@font-face {
  font-family: 'Bangers';
  src: url('../public/font/Bangers.ttf') format('truetype');
}